*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    
    background-image: url();
    background-size: cover;
    background-position: center;
    position: relative;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    background-color: #fff;



    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    color: #3498db;
}
.logo{
    color:#22EA0A;
    font-size: 28px;
    
}
.title{
    color: #0AEAC2;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
nav ul li a:hover{
    color: #22EA0A;
    transition: 0.3s;
}
.btn1{
    border: 1px solid #3498db;
    background: #fff;
    padding: 7px 10px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    /* color:#16A408; */
    transition: 0.8s;
    border-radius: 5px;
}
.btn:hover{
    color:black;
}
.btn::before{
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    top:0;
    border-radius: 0 0 50% 50%;

}
.home{
    text-align: center;
    padding-top: 100px;
}
.home h2{
    font-family: 'Philosopher', sans-serif;
}
.content{
    align-items: center;
    padding: 20px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
    font-family: 'Quicksand', sans-serif;
}
.content p{
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;

}
.sln
{
    text-align: center;
    padding-top: 50px;
  
}
.sln h2{
    font-family: 'Philosopher', sans-serif; 
}
.sln h4{
    font-family: 'Philosopher', sans-serif; 
    color: black;
    padding-top: 50px;
}
// css example
.symbol {
  content: "\00AE";
  background-color: #fff;
  color: black;
  border-radius: 4px;;
}
.global{
    padding-top: 50px;
    height: 170px;
    width: 140px;
}
.e-waste{
    height: 100px;
    width: 200px;
}